# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.opensdf
*.sdf
*.txt

#Unused directories
/Debug
/Release
/ipch
/recov
/resourcesTestExamples
/workflowsTestExamples